
         *{margin: 0; padding: 0; font-family: 'Josefin Sans', sans-serif;}
         body{
            overflow: hidden;
         }
         .hide{display: none;}
         .carGame{
             width: 100%;
             height: 100vh;
            
             background-image: url('assets/images/bg.jpg');
             background-repeat: no-repeat;
             background-size: 100% 100%;
             
         }
         .car{
             width: 70px;
             height: 90px;
             /* background: red; */
             position: absolute;
             bottom: 120px;
             background-image: url('assets/images/car3.png');
             background-repeat: no-repeat;
             background-size: 100% 100%;
         }


         .enemyCar{
            width: 60px;
            height: 80px;
            position: absolute;
            bottom: 120px;
            background-image: url('assets/images/logo.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }


         .roadLines{
             width: 10px;
             height: 100px;
             position: absolute;
             background: yellow;
             margin-left: 195px;   
         }
         .gameArea{
             width: 400px;
             height: 100vh;
             background: #818586;
             margin: auto;
             position: relative;
             overflow: hidden;
             border-right: 7px dashed #d3d3da;
             border-left: 7px dashed #d3d3da;;
         }
         .score{
             position: absolute;
             top: 15px;
             left: 40px;
             background: #10ac84;
             width: 150px;
             line-height: 50px;
             text-align: center;
             color: white;
             font-size: 1.5em;
             box-shadow: 0 5px 5px #777;
         }


         .level {
            display: flex;
            justify-content: center;
            align-items: flex-end; 
            position: fixed;
            bottom: 20px; 
            width: 100%;
            height: 100%;

        }
        
        

         #easy {
            /* display: block; */
            /* margin: 20px auto;  */
            cursor: pointer;
            /* margin: 0; */
            width: 30vw;
            /* z-index: 1; */

        }
        

        .custom-modal-dialog {
            max-width: 800px; 
            width: 100%; 
            /* margin: 10vh auto; */
            
        }
        
.modal-content {
    /* background-color: #aae4f3;  */
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow */
    background-size: cover; /* or 'contain' based on your preference */
    border: 5px solid #05314e;
    width: 80%; /* Set your desired width */
    max-width: 800px; /* Set your desired maximum width */
    margin: auto; /* Center the modal horizontally */
}



.modal-header {
    overflow: hidden;
    border-radius: 50px;
    height: 9vh;
    width: 34.3vw;
  
    display: flex;
    justify-content: end;
    background-image: url('assets/images/popup.png');
    background-size: cover;  
    background-position: center;
}

#timer-icon {
    
    width: 6vh;
    height: 6vh;
    position: absolute;
    left:73%;
    z-index: 1;
}


.modal-body {
    text-align: center;
}


@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.radio-container label {
    margin-bottom: 10px;
    border-radius: 50px;
    /* font-size: 1.4em; */
    background-color: white;
    color: #131212;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    animation: fadeInLeft 0.5s ease;
    border: 2px solid black;
    font-size: 20px;
    /* padding: 8px; */
    

    
}


.radio-container label:hover {
    background-color: #a2a9af;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* transform: scale(1.1);  */
}
/* 
.modal-footer {
    justify-content: center;
    padding-top: 5px;
} */

input{
    margin-right: 2%;
}


#continueButton {
    color: #e9e4e4;
    background-color: #056494;
    padding: 20px;
    height: 12vh;
    width: 12vw;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    /* clip-path: polygon(15% 40%, 76% 40%, 90% 57%, 76% 73%, 13% 73%, 0 57%); */
    /* clip-path: polygon(15% 37%, 76% 38%, 86% 57%, 75% 73%, 16% 73%, 4% 57%); */
    clip-path: polygon(14% 33%, 77% 34%, 86% 57%, 76% 80%, 14% 80%, 4% 57%);
    text-align: center;
    padding-bottom: 1px;
    padding-left: 2px;
}



#continueButton:hover {
    background-color: #808181; /* Change background color on hover */
}




/* Additional styling for mobile responsiveness */
       
        
        .startScreen {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;

            overflow: hidden;
            height: 100%;
            width: 100%;
            background: url('assets/images/start.png') center center no-repeat;
            background-size: cover;
        }
        
        
        
        .modal-header {
            background-color: #e0e3e6;
            color: #0a0a0a;
            font-weight: 500;
            font-size: 1.5;
        }
        
        .modal-body {
            text-align: center;
        }
        
        #questionText {
            font-size: 1.6em;
            font-weight: 600;
            margin-bottom: 0.1px;
            color: #ebe8e8;
            text-align: left;
            background-color: #1054ac;
            border-radius: 50px;
            padding: 1rem;

        }
        
        
        
        
        
        #timer {
            
            color: #0c0b0b;
            font-size: 1.3em;
            background-color: white;
            border: yellow;
            position: relative;
            /* padding: 5px; */
            box-shadow: 0 0 10px rgba(41, 38, 38, 0.2);
            border-radius: 30px;
            width: 10vw;
            height: 5vh;
            padding: 10px;
            text-align: end;
        }
        
        .modal-header {
            background-color: #e0e3e6;
            color: #0a0a0a;
            font-weight: 500;
            font-size: 1.5;
            background-color: #29b9b9;
        }
        
        .modal-body {
            text-align: center;
        }
        
        .modal-footer {
            justify-content: center;
            padding-top: 10px;
        }
        
        
        
        #error-text {
            color: #f01111;
            font-size: 1.5rem;
            margin-top: 10px;
            font-weight: 500;
            text-align: center;
        }
        

        .text-container {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; /* Set text color to match your design */
            z-index: 1; /* Ensure the text is on top of the image */
        }

        .text {
            font-size: 1.5em;
            font-weight: bold;
        }

        #Instruction {
            width: 50%;
            height: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20%;
            background-color: #1b1e20; /* Initial background color */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Initial box shadow */
            transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
        }
        
        #Instruction.animate {
            background-color: #e74c3c; /* Updated background color */
            transform: scale(1.2); /* Updated transform property */
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Updated box shadow */
        }
        
        
       

/* Updated mobile responsiveness for modal */
/* Additional styling for mobile responsiveness */
@media (max-width: 480px) {

    .carGame {
        background-size: cover;
    }

    .startScreen {
        width: 200px;
    }

    .gameArea {
        width: calc(100% - 14px);
        height: 100vh;
        background: #2d3436;
    }

    .score {
        left: 150px;
        width: 100px;
        font-size: 1em;
        z-index: 1;
    }
    .modal-content {
        width: 80%; /* Adjust the width as needed for your design */
        max-width: 100%;
    }

    .modal-header {
        width: 100%;
        justify-content: center; /* Center the content horizontally */
        align-items: center; /* Center the content vertically */
        flex-direction: column; /* Stack child elements vertically */
    }

    /* #timer-icon {
        left: initial;
        right: 10px; 
    }

    #timer {
        width: 50%;
        text-align: end;
        margin-top: 10px;
    } */


    #timer-icon {
        left: initial;
        right: 10px;
        margin-top: 10px; 
    }

    #timer {
        width: 50%;
        text-align: center;
        margin-top: 10px; 
        text-align: end;

    }

    .modal-body {
        /* padding: 10px; */
    }

    .modal-body {
        padding: 20px;
    }

    #questionText {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    

    
    #continueButton {
        height: 8vh;
        width: 40vw; 
        padding-bottom: 6px;

    }
   
    
    

    .carGame {
        background-size: cover;
    }

    .startScreen {
        width: 200px;
    }

    .gameArea {
        width: calc(100% - 16px);
        height: 100vh;
        background: #2d3436;
    }

    .score {
        left: 150px;
        width: 100px;
        font-size: 1em;
        z-index: 1;
    }
    

   
}




